<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="card grey lighten-4">
				<div class="card-content">
					<div class="row">
						<div input-field class="col l12">
							<i class="prefix fas fa-search"></i>
							<label>Buscar... </label>
							<input type="search" ng-model="moc.searchTerm">
						</div>
					</div>
					<div class="row">
						<div class="col l12">
							<a class="btn btn-block waves-effect waves-light grey darken-3" ng-click="moc.addOperator()">Agregar un nuevo Operador</a>
						</div>
					</div>
					<div class="row">
						<div class="col l12">
							<table class="bordered highlight centered-table" style="table-layout: fixed">
								<thead class="grey darken-3 white-text">
									<tr>
										<th>#</th>
										<th>Nombre</th>
										<th>Nick</th>
										<th>Info</th>
									</tr>
								</thead>
								<tbody>
									<tr dir-paginate="operator in moc.operators | filter: moc.searchTerm | orderBy:moc.sortBy:moc.sortReverse | itemsPerPage: moc.itemsPerPage track by $index" pagination-id="manageOperatorsId">
										<td>{{operator.id == 1 ? 'Administrador' : 'Usuario'}}</td>
										<td>{{operator.full_name}}</td>
										<td>{{operator.nick_name}}</td>
										<td><a class="btn waves-effect waves-light" ng-click="moc.showDetails(operator)"><i class="fas fa-info"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
						&nbsp;
						<div class="row">
							<dir-pagination-controls boundary-links="true" template-url="src/directive/dirPaginationControls/template.html" pagination-id="manageOperatorsId"></dir-pagination-controls>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
