<!-- <button ng-click="nac.printTest()"></button> -->
<div class="container">
	<div class="row">
		<div class="col l12">
			<div class="card grey lighten-4">
				<div class="card-content">
					<ng-form name="naForm">
						<div class="row">
							<div input-field class="col l12">
								<i class="prefix fas fa-user"></i>
								<label>Escribir Nombre del Usuario</label>
								<input type="text" ng-model="nac.form.patient_fullname" ng-class="{'invalid': nac.form.patient_id <= 0, 'valid': nac.form.patient_id > 0}" id="patient-autocomplete" class="autocomplete" required>
							</div>
						</div>
						<div class="row" ng-show="nac.form.patient_id <= 0">
							<div class="col l12">
								<label class="orange-text">**El Usuario no Existe por lo que se creará como nuevo, si luego quieres editar sus datos personales, debes ir a "Administrar Usuarios"**</label>
							</div>
						</div>
						<div class="row">
							<div input-field class="col l6 file-field">
								<button class="btn col l3" ng-click="nac.showSchedule()"><i class="fas fa-calendar-alt"></i></button>
								<div class="file-path-wrapper">
									<label style="left: 90px;">Fecha</label>
									<input type="text" ng-model="nac.form.date" required readonly>
								</div>
							</div>
							<div input-field class="col offset-l1 l5">
								<label>Hora</label>
								<input type="text" ng-model="nac.form.time" required readonly>
							</div>
						</div>
						<div class="row">
							<div input-field class="col l12">
								<i class="prefix fas fa-user-tie"></i>
								<label ng-class="nac.form.operator_id != null && 'active'">Con: </label>
								<select material-select ng-model="nac.form.operator_id">
									<option ng-repeat="operator in nac.operators" value="{{operator.id}}">{{operator.full_name}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div input-field class="col l12">
								<i class="prefix fas fa-allergies"></i>
								<label ng-class="nac.form.reason != null && 'active'">Motivo</label>
								<select ng-model="nac.form.reason" material-select required>
									<option>Control de Herida</option>
									<option>Curaciones</option>
									<option>Control de Rutina</option>
									<option>Infiltración</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div input-field class="col l12">
								<i class="prefix fas fa-notes-medical"></i>
								<label>Nota</label>
								<input type="text" ng-model="nac.form.notes">
							</div>
						</div>
					</ng-form>
				</div>
				<div class="card-action">
					<div class="row">
						<div class="col l12">
							<a class="btn-floating btn-large halfway-fab waves-effect waves-light green" ng-class="{disabled: !naForm.$valid || nac.isCreating}" ng-click="nac.createAppointment()"><i class="fas" ng-class="nac.isCreating ? 'fa-cog fa-spin black-text':'fa-save'"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>