<ng-form name="faForm">
  <!-- <pre>{{fac.form | json}}</pre> -->
  <div class="row">
    <div input-field class="col l12">
      <i class="prefix fas fa-align-left"></i>
      <label>Procedimiento Realizado</label>
      <textarea type="text" ng-model="fac.form.procedure_perform" placeholder="Escribe aqui..."  class="materialize-textarea" required></textarea>
    </div>
  </div>
  <div class="row">
    <div input-field class="col l12">
      <i class="prefix fas fa-eye"></i>
      <label ng-class="fac.form.observations != null && 'active'">Observaciones</label>
      <textarea class="materialize-textarea" ng-model="fac.form.observations"></textarea>
    </div>
  </div>
  <div class="row">
    <div input-field class="col l12">
      <i class="prefix fas fa-sticky-note"></i>
      <label ng-class="fac.form.notes != null && 'active'">Notas</label>
      <input type="text" ng-model="fac.form.notes">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l12">
      <a class="btn btn-block waves-effect waves-light green" ng-class="!faForm.$valid && 'disabled'" ng-click="fac.submit()">Guardar</a>
    </div>
  </div>
</ng-form>