<div class="fixed-action-btn" style="bottom: 80px">
	<a class="btn-floating btn-large waves-effect waves-light green white-text" ng-class="pclc.isAdding && 'disabled'" ng-click="pclc.addPatientToControl()" tooltipped="true" data-tooltip="Agregar un Nuevo Usuario a Control" data-colorclass="green" data-position="left"><i class="fas" ng-class="pclc.isAdding ? 'fa-cog fa-spin black-text' : 'fa-plus'"></i></a>
</div>
<div class="row">
	<div class="col l12">
		<div class="card grey lighten-4">
			<div class="card-content">
				<br>
				<div class="row">
					<div input-field class="col l12">
						<i class="prefix fas fa-search"></i>
						<label>Buscar por Nombre de Paciente</label>
						<input type="search" ng-model="pclc.searchTerm">
					</div>
				</div>
				<br>
				<dir-pagination-controls template-url="src/directive/dirPaginationControls/template.html"></dir-pagination-controls>
				<br>
				<div class="row" dir-paginate-start="appointment in pclc.appointments | filter: pclc.searchTerm | itemsPerPage: 5">
					<div class="col l12">
						<div class="card">
							<div class="card-content">
								<span class="card-title capitalize">{{appointment.meta.public.patient_fullname | capitalize}}</span>
								<span class="h4" style=""><strong>Numero de Telefono: </strong> {{appointment.meta.private.phone_number || 'Sin Registro'}}</span><br>
								<span class="h4"><strong>Numero de Celular: </strong>{{appointment.meta.private.mobile_number || 'Sin Registro'}}</span><br>
								<span class="h4"><strong>RUN: </strong>{{appointment.meta.private.rut | toString | rut:'Sin Registro'}}</span><br>
								<span class="h4"><strong>Alergias: </strong>{{appointment.meta.private.allergies || 'Sin Registro'}}</span><br>
								<table class="striped nonsense-table centered-table" style="table-layout: fixed">
									<colgroup>
										<col style="width: 10%">
									</colgroup>
									<thead>
										<tr>
											<th>#</th>
											<th>Turno próximo</th>
											<th>Procedimiento<br>Realizado</th>
											<th>Observaciones</th>
											<th>Notas</th>
											<th>Estado</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="item in appointment.data">
											<td>{{$index + 1}}</td>
											<td>{{item.date}} a las<br>{{item.time}}</td>
											<td class="break-text">{{item.procedure_perform | lowercase}}</td>
											<td class="break-text">{{item.observations | lowercase}}</td>
											<td class="break-text">{{item.notes | lowercase}}</td>
											<td>
												<div class="fixed-action-btn horizontal fab-in-table-cell">
													<a class="btn-floating btn-flat btn-large waves-effect waves-light">
														<i class="fas" ng-class="item.status == 'pending' ? 'fa-minus orange-text' : item.status == 'done' ? 'fa-check green-text' : 'fa-times red-text'"></i>
													</a>
													<ul style="right: 66%">
														<li><a class="btn-floating btn-flat waves-effect waves-light green" ng-click="pclc.changeAppointmentStatus('done', item)"><i class="fas fa-check white-text"></i></a></li>
														<li><a class="btn-floating btn-flat waves-effect waves-light red" ng-click="pclc.changeAppointmentStatus('absent', item)"><i class="fas fa-times white-text"></i></a></li>
													</ul>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="card-action">
								<a class="btn-floating btn-large halfway-fab waves-effect waves-light green left" ng-click="pclc.addNewAppointmentToPatient(appointment)"><i class="fas fa-calendar-plus"></i></a>
								<a class="btn-floating btn-large halfway-fab waves-effect waves-light cyan" style="left: 10%;" ng-click="pclc.dischargePatient(appointment)"><i class="fas fa-walking"></i></a>
								<a class="btn-floating btn-large halfway-fab waves-effect waves-light grey darken-3" style="left: 17.2%;" ng-click="pclc.printAppointmentSummary(appointment)"><i class="fas fa-print"></i></a>
							</div>
						</div>
					</div>
				</div>
				<br dir-paginate-end>
			</div>
		</div>
	</div>
</div>
