	<div class="row">
		<div class="col l12">
			<div class="card grey lighten-4">
				<div class="card-content">
					<div class="row">
						<div input-field class="col l12">
							<a class="btn btn-block waves-effect waves-light grey darken-3 white-text" ng-click="pclc.addControlAppointment()">Agregar Usuario a Control</a>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col l12">
							<table class="bordered highlight centered-table">
								<tbody>
									<tr ng-repeat-start="appointment in pclc.chunckedAppointents">
										<th colspan="6" class="black white-text">{{appointment[0].patient_fullname}}</th>
									</tr>
									<tr class="grey darken-3 white-text">
										<td><strong>Procedencia:</strong><br>{{appointment[0].comes_from}}</td>
										<td><strong>Motivo:</strong><br>{{appointment[0].reason}}</td>
										<td style="word-break: break-all;"><strong>Diagnostico:</strong><br>{{appointment[0].diagnosis_text}}</td>
										<td><strong>Afiliación:</strong><br>{{appointment[0].membership}}</td>
									</tr>
									<tr class="blue-grey white-text">
										<th>#</th>
										<th>Turno próximo</th>
										<th>Procedimiento<br>Realizado</th>
										<th>Observaciones</th>
										<th>Notas</th>
										<th>Estado</th>
									</tr>
									<tr ng-repeat-end ng-repeat-start="item in appointment">
										<td>{{item.id}}</td>
										<td>{{item.date}} a las {{item.time}}</td>
										<td style="word-break: break-all;">{{item.procedure_perform}}</td>
										<td style="word-break: break-all;">{{item.observations}}</td>
										<td style="word-break: break-all;">{{item.notes}}</td>
										<td>
											<div class="fixed-action-btn horizontal" style="position: relative; right: 10%; top: 0px">
												<a class="btn-floating btn-flat waves-effect waves-light">
													<i class="fas" ng-class="item.status == 'pending' ? 'fa-minus orange-text' : item.status == 'done' ? 'fa-check green-text' : 'fa-times red-text'"></i>
												</a>
												<ul style="right: 0px; top: 102%">
													<li><a id="menu" class="btn-floating btn-flat waves-effect waves-light green" ng-click="pclc.changeAppointmentStatus('done', item)"><i class="fas fa-check white-text"></i></a></li>
													<li><a class="btn-floating btn-flat waves-effect waves-light red" ng-click="pclc.changeAppointmentStatus('absent', item)"><i class="fas fa-times white-text"></i></a></li>
												</ul>
											</div>
										</td>
									</tr>
									<tr ng-repeat-end><td colspan="6"><br><br><br><br></td></tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="card-action">
				</div>
			</div>
		</div>
	</div>
