<ng-form name="caForm">
  <pre>{{cac.form | json}}</pre>
  <div class="row">
    <div input-field class="col l12">
      <i class="prefix fas fa-user"></i>
      <label ng-class="cac.form.patient_fullname != null && 'active'">Escribir Nombre del Paciente</label>
      <input-autocomplete bind="cac.form.patient_fullname" data="cac.patients" class-id="cac.form.patient_id"></input-autocomplete>
    </div>
  </div>
  <div class="row">
    <div input-field class="col l6 file-field">
      <button class="btn col l3" ng-click="cac.showSchedule()"><i class="fas fa-calendar-alt"></i></button>
      <div class="file-path-wrapper">
        <label style="left: 100px;">Fecha Seleccionada</label>
        <input type="text" id="patientDatePicker" ng-model="cac.form.date" required readonly>
      </div>
    </div>
    <div input-field class="col offset-l1 l5">
      <label>Hora Seleccionada</label>
      <input type="text" ng-model="cac.form.time" required readonly>
    </div>
  </div>
  <div class="row">
    <div input-field class="col l12">
      <label ng-class="cac.form.reason != null && 'active'">Motivo</label>
      <select ng-model="cac.form.reason" material-select required>
        <option>Control de Herida</option>
        <option>Curaciones</option>
        <option>Control de Rutina</option>
      </select>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col l12">
      <a class="btn btn-block waves-effect waves-light green" ng-class="!caForm.$valid && 'disabled'" ng-click="cac.storeAppointment()">Agendar</a>
    </div>
  </div>
</ng-form>