<div class="container">
	<div class="tap-target" data-activates="menu">
		<div class="tap-target-content">
			<h5>Title</h5>
			<p>A bunch of text</p>
		</div>
	</div>
	<div class="row">
		<div class="col l12">
			<div class="card grey lighten-4">
				<div class="card-content">
					<div class="row">
						<div input-field class="col l5">
							<i class="prefix fas fa-arrow-right"></i>
							<label>Fecha de Inicio</label>
							<input input-date type="text" ng-model="mcc.filters.sinceDate" first-day="1" format="dd-mm-yyyy" disable="[false, 6, 7]">
						</div>
						<div input-field class="col offset-l2 l5">
							<i class="postfix fas fa-arrow-left"></i>
							<label>Fecha de Termino</label>
							<input input-date type="text" ng-model="mcc.filters.tillDate" first-day="1" format="dd-mm-yyyy" disable="[false, 6, 7]">
						</div>
					</div>
					<div class="row">
						<div input-field class="col l12">
							<i class="prefix fas fa-search"></i>
							<label>Buscar</label>
							<input ng-model="mcc.filters.searchTerm" type="search">
						</div>
					</div>
					<div class="row">
						<div input-field class="col l5">
							<i class="prefix fas fa-user"></i>
							<label ng-class="{'active': mcc.filters.byPatient != null}">Filtrar por Paciente:</label>
							<select ng-model="mcc.filters.byPatient" material-select watch>
								<option value="-1">Todos</option>
								<option ng-repeat="patient in mcc.patients" value="{{patient.id}}">{{patient.full_name}}</option>
							</select>
						</div>
						<div input-field class="col offset-l2 l5">
							<i class="prefix fas fa-user-md"></i>
							<label ng-class="{'active': mcc.filters.byDoctor != null}">Filtrar por Medico:</label>
							<select ng-model="mcc.filters.byDoctor" material-select watch>
								<option value="-1">Todos</option>
								<option ng-repeat="doctor in mcc.doctors" value="{{doctor.id}}">{{doctor.full_name}}</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col l12">
							<table class="bordered highlight centered-table">
								<thead class="grey darken-3 white-text">
									<tr>
										<th>#</th>
										<th>Fecha</th>
										<th>Paciente</th>
										<th>Medico</th>
										<th>Detalles</th>
										<th>Eliminar</th>
										<th>Estado</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="appointment in mcc.filteredAppointments = (mcc.appointments | dateRange: mcc.filters.sinceDate : mcc.filters.tillDate | filter: mcc.filters.searchTerm | filter: ((mcc.filters.byPatient >= 0) || undefined) && {patient_id: mcc.filters.byPatient} | filter: ((mcc.filters.byDoctor >= 0)||undefined)&&{doctor_id: mcc.filters.byDoctor})">
										<td>{{appointment.id}}</td>
										<td>{{appointment.date + ' ' + appointment.time}}</td>
										<td>{{appointment.patient_name}}</td>
										<td>{{appointment.doctor_name}}</td>
										<td><a class="btn-floating btn-flat waves-effect waves-light" ng-click="mcc.openAppointmentDetails(appointment)"><i class="fas fa-info-circle blue-text"></i></a></td>
										<td><a class="btn-floating btn-flat waves-effect waves-light" ng-click="mcc.deleteAppointment(appointment)"><i class="fas fa-trash red-text"></i></a></td>
										<td>
											<div class="fixed-action-btn horizontal" style="position: relative; right: 10%; top: 0px">
												<a class="btn-floating btn-flat waves-effect waves-light">
													<i class="fas" ng-class="appointment.status == 'pending' ? 'fa-minus orange-text' : appointment.status == 'done' ? 'fa-check green-text' : 'fa-times red-text'"></i>
												</a>
												<ul style="right: -190px; top: 15%">
													<li><a id="menu" class="btn-floating btn-flat waves-effect waves-light green" tooltipped data-delay="50" data-position="bottom" data-tooltip="Presente" ng-click="mcc.changeAppointmentStatus('done', appointment)"><i class="fas fa-check white-text"></i></a></li>
													<li><a class="btn-floating btn-flat waves-effect waves-light orange" tooltipped data-delay="50" data-position="bottom" data-tooltip="Pendiente" ng-click="mcc.changeAppointmentStatus('pending', appointment)"><i class="fas fa-minus white-text"></i></a></li>
													<li><a class="btn-floating btn-flat waves-effect waves-light red" tooltipped data-delay="50" data-position="bottom" data-tooltip="Ausente" ng-click="mcc.changeAppointmentStatus('absent', appointment)"><i class="fas fa-times white-text"></i></a></li>
												</ul>
											</div>
										</td>
									</tr>
									<tr ng-if="mcc.filteredAppointments.length === 0">
										<td colspan="7">Sin Coincidencias...</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>